@media(max-width:765px){

     body .blog-con{
        padding: 0px 0px 50px 0px;
    }

    body .blog-single-con{
        padding-left: 10px;
        padding-right: 10px;
        
    }

    body .blog-header{
        padding-left: 20px;
        padding-right:20px;
    }

    body .blog-body{
        padding-left: 20px;
        padding-right: 20px;
    }

}

.blog-featured-image{
    height: 325px;
}

.blog-featured-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-header{
    padding-left: 40px;
    padding-right: 40px;
}

.blog-body{
    padding-right: 40px;
    padding-left: 40px;
}

.blog-con{
    border-radius: 25px;
    padding-bottom: 40px;
    background-color: white;
    box-shadow: 0px 0px 5px gray;
    border-bottom: solid 6px #feac43;
    overflow: hidden;
}

.blog-single-con{
    padding-top: 120px;
}

.blog-single-con{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    /* padding: 50px; */
}

.blog-single-con .blog-header{
    position: relative;
    margin-bottom: 40px;
}

.blog-single-con .blog-header:after{
    content: '';
    height: 1px;
    width: 98%;
    background-color: lightgray;
    position: absolute;
    top: 110%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.blog-single-con .blog-header div{
    display: flex;
    align-items: center;
}

.blog-single-con .blog-header h1{
    margin-bottom: 10px;
    font-size: 34px;
}

.blog-single-con .blog-header div p{
    margin-right: 5px;
    font-weight: bold;
    margin-top: 0px;
    font-size: 14px;
}

.blog-single-con .blog-header div p span{
    font-weight: 400;
}