<div class="blog-previews">

  <a href="#">
    <img src="/images/placeholder-blog-featured-image.jpeg" alt="Blog featured image">
    <div>
      <p class="blog-title">Blog Title</p>
      <p class="blog-date">Blog Date</p>
      <p class="blog-desc">Blog Desc</p>
    </div>
  </a>

  <a href="#">
    <img src="/images/placeholder-blog-featured-image.jpeg" alt="Blog featured image">
    <div>
      <p class="blog-title">Blog Title</p>
      <p class="blog-date">Blog Date</p>
      <p class="blog-desc">Blog Desc</p>
    </div>
  </a>

  <a href="#">
    <img src="/images/placeholder-blog-featured-image.jpeg" alt="Blog featured image">
    <div>
      <p class="blog-title">Blog Title</p>
      <p class="blog-date">Blog Date</p>
      <p class="blog-desc">Blog Desc</p>
    </div>
  </a>

</div>
