body{
    margin: 0px;
    background-color: #fff6f0;

}

header{
    background-color: white;
    box-shadow: 0 4px 12px rgba(92, 64, 51, 0.2);
}

header a img{
    height: 100px;
    width:auto;
    object-fit: contain;
}

.image-compressor-con{
    text-align: center;
    padding: 50px 0px;
}

.vertical-ad{
    border: solid 1px lightgray;
    background-color: white;
    width: 300px;
    height: 600px;
    display: block;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #473125;
    text-decoration: none;
}

.image-compressor-con > .ad{
    border:solid 2px lightgray;
    height:250px;
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top:50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    background-color: white;
    font-family: sans-serif;
    color: #473125;
     
}


.image-compressor-con > .ad h3{
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.image-compressor{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 675px;
}



.image-compressor .ad{
    border: solid 1px lightgray;
    background-color: white;
    width: 300px;
    height: 600px;
    display: block;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #473125;
    text-decoration: none;
}

.image-compressor .ad h3{
    font-size: 35px;
    font-family: sans-serif;
    max-width: 180px;
    margin-left: auto;
    margin-right: auto;
}

.image-compressor-con h1{
    font-family: sans-serif;
    color: #473125;
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

.image-compressor-con p{
    font-family: sans-serif;
    color: #5c4033;
    font-size: 24px;
    margin-top: 10px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.drop-area-con{
    background-color: white;
    width: fit-content;
    padding: 30px;
    border-radius: 20px;
    border: solid 1px lightgray;
    display: flex;
    width: 50%;
}

#drop-area {
  border: 5px dashed lightgray;
  background-color: white;
  padding: 40px;
  text-align: center;
  color: #5c4033;
  border-radius: 12px;
  font-family: sans-serif;
  transition: background-color 0.3s ease;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

#drop-area img{
    height: 80px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    pointer-events: none;
}

 .image-preview-item {
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

#drop-area p{
    pointer-events: none;
}

#drop-area.dragover {
  background-color: #ffeadd;
}

#drop-area input[type="file"] {
  display: none;
}

#drop-area label {
  display: inline-block;
  margin-top: 12px;
  padding: 20px 25px;
  background-color: #755844;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 24px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  transition: .25s;
}

#drop-area label:hover{
    background-color:#493629;
}

#other-drop-options button{
    display: none;
    border:none;
    cursor: pointer;
    padding:10px;
    border-radius: 30px;
    border: none;
    background-color:#755844;
    transition: .25s;
}

#other-drop-options button:hover{
    background-color:#493629;
}

#other-drop-options button img{
    height: 25px;
    width: 30px;
    object-fit: contain;
}

.image-preview-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.image-preview-buttons{
    margin-bottom: 8px;
}

.image-preview-buttons span{
    font-family: sans-serif;
}

.image-preview-buttons button{
    border-radius: 30px;
    height: 30px;
    width: 30px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px gray;
    position: absolute;
    right: -35px;
    top: -15px;
}

.image-preview-con{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    display: none;
}

.image-preview-con .ad{
    border:solid 1px lightgray;
    width: 300px;
    height: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    background-color: white;
    font-family: sans-serif;
    color: #473125;
    margin: 30px 50px 30px 30px;
}

.image-options-con{
    width:500px;
    height:600px;
    background-color: white;
    box-shadow: -3px -1px 10px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.image-options-con .more-images-con div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-options-con .more-images-con p{
    margin-top: 0px;
}

.image-options-con .more-images-con button{
    margin: 10px;
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: center;
}

.image-options-con .more-images-con button img{
    height: 30px;
    width: 30px;
    object-fit: contain;
    object-position: center;
}

.image-options-con .more-images-con img{
    height: 78px;
    width: 70px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

.image-options-con label{
    min-height: 132px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-options-con .compress-button-con{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 132px;
}

.compress-button-con #compress-btn{
    width: 100%;
}

.image-options-con label span{
    font-family: sans-serif;
}

.image-options-con label input{
    margin-left: 25px;
    margin-right:25px;
}

.image-options-con p{
    margin-bottom: 10px;
}

.image-options-con button{
    background-color: #755844;
    color: white;
    border:none;
    border-radius: 5px;
    transition: .25s;
    cursor: pointer;
    font-size:18px;
    padding: 15px;
}

.image-options-con button:hover{
    background-color:#493629;
}


.image-previews{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.image-previews > div {
    position: relative;
    height: 200px;
    width: 175px;
    margin: 50px;
    transition: 0.25s;
}

.image-previews > div:hover {
    animation: bounce 0.6s ease-in-out infinite alternate;
}



@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}



.image-previews div img{
    height: 75%;
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 10px gray;

}

.image-previews div p{
    position: absolute;
    font-size: 12px;
    text-align: center;
    top:100%;
    left:50%;;
    transform: translate(-50%, -50%);
    padding:3px;
    text-align: center;
    width:max-content
}

footer{
    background-color: white;
    text-align: center;
    padding-top:15px;
    padding-bottom: 15px;
    box-shadow: 0 4px 12px rgba(92, 64, 51, 0.2);
}

footer p{
    margin-top:0px;
    margin-bottom: 0px;
    font-family: sans-serif;
}

.thumb-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.thumb-preview .thumb {
  width: 140px;
  text-align: center;
  font-family: sans-serif;
}

.thumb-preview .thumb img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.thumb-preview .thumb p {
  margin-top: 8px;
  font-size: 14px;
  color: #5c4033;
  word-break: break-all;
}

.loading-con{
    display: none;
    /* display: flex; */
    justify-content: space-evenly;
    align-items: center;
}

.loading-con img{
    height:100px;
    width:auto;
    object-fit: contain;
    margin-bottom: 10px;
}

.compress-completion-con{
    display: none;
    justify-content: space-evenly;
    align-items: center;
}

.completion-download-con div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.completion-download-con div .back-button{
    position: absolute;
    left: 0px;
    border-radius: 30px;
    height: 38px;
    width: 38px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #755844;
    transition: .25s;
    cursor: pointer;
}

.completion-download-con div .back-button:after{
    position: absolute;
    content:"Compress More Images";
    font-size: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    width: 72px;
    top: 160%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .25s;
    opacity: 0;
    pointer-events: none;
    font-weight: bold;
}

.completion-download-con div .back-button:hover{
     background-color:#493629;
}

.completion-download-con div .back-button:hover:after{
    opacity: 1;
}

.completion-download-con div .back-button img{
    height: 15px;
    width: auto;
    object-fit: contain;
    transform: rotate(-180deg);
}

.completion-download-con div button{
    margin-left: 3px;
    margin-right: 3px;
}

.compress-completion-con h3{
    font-family: sans-serif;
    font-size: 36px;
}

.compress-completion-con .completion-download-button{
    background-color: #755844;
    color: #fff;
    border-radius: 6px;
    font-size: 24px;
    padding: 20px 13px;
    border: none;
    cursor: pointer;
    transition: .25s;
}

.compress-completion-con .completion-download-button:hover{
    background-color:#493629;
}