.image-preview-con{
    margin-left: auto;
    margin-right: auto;
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    position: relative;
    display: none;
}

.image-preview-con .ad{
    border:solid 1px lightgray;
    width: 300px;
    height: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    background-color: white;
    font-family: sans-serif;
    color: #473125;
}

.image-previews{
    display: flex;
    width: 800px;
    flex-wrap: wrap;
    justify-content: center;
}

.image-previews > div {
    position: relative;
    height: 200px;
    width: 175px;
    margin: 50px;
    transition: 0.25s;
}

.image-previews > div:hover {
    animation: bounce 0.6s ease-in-out infinite alternate;
}

.image-previews div img{
    height: 75%;
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 10px gray;

}

.image-previews div p{
    position: absolute;
    font-size: 12px;
    text-align: center;
    top:100%;
    left:50%;;
    transform: translate(-50%, -50%);
    padding:3px;
    text-align: center;
    width:max-content
}

.image-options-con{
    width:300px;
    height:600px;
    background-color: white;
    box-shadow: 0px 0px 10px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.image-options-con .more-images-con div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-options-con .more-images-con p{
    margin-top: 0px;
}

.image-options-con .more-images-con button{
    margin: 10px;
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: center;
}

.image-options-con .more-images-con button img{
    height: 30px;
    width: 30px;
    object-fit: contain;
    object-position: center;
}

.image-options-con .more-images-con img{
    height: 78px;
    width: 70px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

.image-options-con label{
    min-height: 132px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-options-con .compress-button-con{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 132px;
}

.image-options-con label span{
    font-family: sans-serif;
}

.image-options-con label input{
    margin-left: 25px;
    margin-right:25px;
}

.image-options-con p{
    margin-bottom: 10px;
}

.image-options-con button{
    background-color: #755844;
    color: white;
    border:none;
    border-radius: 5px;
    transition: .25s;
    cursor: pointer;
    font-size:18px;
    padding: 15px;
}

.image-options-con button:hover{
    background-color:#493629;
}

.image-converter-con{
    text-align: center;
}

.image-converter-con h1{
    font-family: sans-serif;
    color: #473125;
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    max-width:610px;
    text-align: center;
}

.conversion-options{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    
}

.conversion-options button{
    width: 95%;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px #755844;
    color:#755844;
    background-color: transparent;
    cursor: pointer;
}

.conversion-options button:hover{
    color: white;
}

.conversion-options .active{
    background-color: #755844;
    color: white;
}

.image-preview-buttons button{
    border-radius: 30px;
    height: 30px;
    width: 30px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px gray;
    position: absolute;
    right: -35px;
    top: -15px;
}