@media(max-width:765px){
    body .home-header h1{
        font-size: 30px;
    }

    body .popular-tools h2{
        font-size: 30px;
        text-align: center;
    }

    .popular-tools-con h2:after{
        margin-left: auto;
        margin-right: auto;
    }

    body .blog-previews-con h2{
        font-size: 30px;
    }

    body .faq-con h3{
        font-size:30px;
    }

    body .faq-con .faqs p strong{
        font-size: 20px;
    }

    body .faq-con .faqs p{
        font-size: 16px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    body .home-header{
        flex-direction: column;
    }

    body .home-header-content{
        width: 75% !important;
        text-align: center;
        margin-bottom: 30px;
    }

    body .home-header h1:after{
        margin-left: auto;
        margin-right: auto;
    }

    body .popular-tools{
        flex-direction: column-reverse;
    }

    body .popular-tools div{
        width: 75% !important;
    }

    body .popular-tools div:first-of-type img{
        margin-top: 30px;
    }

    body .home-header img{
        height: 175px;
    }
}

@media(max-width:550px){
    body .home-header-content{
        width: 90% !important;
        text-align: center;
        margin-bottom: 30px;
    }

    body .popular-tools div{
        width: 90% !important;
    }

    body .home-con{
       padding: 90px 20px 50px 20px;
    }

    body .popular-tools-con .tool-title {
        font-size: 16px;
        margin-bottom: 5px;
    }

    body .popular-tools div:first-of-type img{
        height: 125px;
    }

    body .popular-tools-con a p{
        font-size: 14px;
    }
}

.home-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: solid 5px #feac43;
}

.home-header:after{
    content:"";
    width: 3px;
    height: 5%;
    background-color: #feac43;
    display: block;
}

.home-header h1{
    font-size: 45px;
    margin-bottom: 0px;
    color: #473125;
}

.home-header h1:after {
  content: "";
  height: 3px;
  width: 0;
  margin-top: 5px;
  display: block;
  background-color: #feac43;
  animation: expandLine 0.6s ease-out forwards;
}

@keyframes expandLine {
  to {
    width: 200px;
  }
}


.home-header p{
    font-size: 20px;
}

.home-header div{
    width: 50%;
}

.home-header{
    margin-bottom: 50px;
}

.home-header img {
  height: 200px;
  width: auto;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: bounceUpDown 2s ease-in-out infinite;
}

@keyframes bounceUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.popular-tools-con{
    margin-bottom: 50px;
    border-left: solid 5px #feac43;
}

.popular-tools-con a{
    display: flex;
    align-items: center;
    max-width: 100%;
    border: solid 2px lightgray;
    padding: 8px 10px 8px 25px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 12px rgba(92, 64, 51, 0.2);
    margin-bottom: 15px;
    text-decoration: none;
    color:#473125;
    position: relative;
    height: 77px;
    overflow: hidden;
    left: 0px;
    transition: .25s;
}

.popular-tools-con a:hover{
    left: 10px;
}

.popular-tools-con a:before{
    content: "";
    height: 100%;
    width: 5px;
    display: block;
    background-color: #feac43;
    position: absolute;
    left: 0px;
}



.popular-tools-con h2{
    color: #473125;
}

.popular-tools p:first-of-type{
    font-size: 20px;
}

.popular-tools-con h2:after {
  content: "";
  height: 3px;
  width: 0;
  margin-top: 5px;
  display: block;
  background-color: #feac43;
  animation: grow-line 0.6s ease-out forwards;
}

@keyframes grow-line {
  from {
    width: 0;
  }
  to {
    width: 160px;
  }
}

.popular-tools-con a h3{
    margin-bottom: 0px;
}

.popular-tools-con a img{
    margin-right: 20px;
    width: 35px;
    object-fit: contain;
}

.popular-tools-con a p{
    margin-top: 0px;
    margin-bottom: 0px;
}

.popular-tools-con .tool-title{
    font-size: 18px;
}

.popular-tools-con .coming-soon:after{
    content: "Coming Soon!";
    width: 45px;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    height: 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #feac43;
    color: white;
    font-weight: bold;
    font-size: 12px;
    margin-left: auto;
}

.home-con{
    padding-top: 120px;
}

.popular-tools{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-tools h2{
    font-size: 40px;
}

.popular-tools div:first-of-type img {
  height: 200px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  animation: bounceUpDown 2s ease-in-out infinite;
}

@keyframes bounceUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}


.popular-tools div{
    width: 50%;
}

.faq-con{
    margin-bottom: 50px;
}

.faq-con h3{
    text-align: center;
    font-size: 40px;
    color: #473125;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.faq-con h3:after {
  content: "";
  height: 3px;
  width: 0;
  margin-top: 7px;
  display: block;
  background-color: #feac43;
  margin-left: auto;
  margin-right: auto;
  animation: growFaqLine 0.6s ease-out forwards;
}

@keyframes growFaqLine {
  to {
    width: 200px;
  }
}


.faq-con .faqs{
    background-color: white;
    padding:  15px 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 12px rgba(92, 64, 51, 0.2);
    border-left: solid 8px #feac43;
}

.faq-con .faqs div{
    border-bottom: solid 1px lightgray;
}

.faq-con .faqs div:last-of-type{
    border-bottom: none;
}

.faq-con .faqs p strong{
    font-size: 18px;
    color: #473125;
}

.faq-con .faqs p{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

