    <div class="top-footer">
        <div class="top-footer-left">
            <a href="/"><img src="/images/header/site-logo.png"></a>
        </div>
        <nav>
            <!-- <div>
                <p>Compressors</p>
                <a href="/tools/compressors/image-compressor/">Image Compressor</a>
                <a href="/tools/compressors/image-compressor-avif/">AVIF Compressor</a>
                <a href="/tools/compressors/image-compressor-jpeg/">JPEG Compressor</a>
                <a href="/tools/compressors/image-compressor-png/">PNG Compressor</a>
                <a href="/tools/compressors/image-compressor-tiff/">TIFF Compressor</a>
                <a href="/tools/compressors/image-compressor-webp/">WebP Compressor</a>
            </div> -->
            <a href="/tools/compressors/image-compressor/">Image Compressor</a>
            <a href="/tools/converters/image-converter">Image Converter</a>
            <a href="/tools/resizers/image-resizer/">Image Resizer</a>
            <a href="/pages/blog-archive/">Blogs</a>
            <a href="/pages/contact/">Contact</a>
            <ul class="language-switcher">
                <li><a href="#" class="current-language english-lang">EN</a>
                    <ul>
                        <li><a href="#" class="german-lang">DE</a></li>
                        <li><a href="#" class="french-lang">FR</a></li>
                        <li><a href="#" class="spanish-lang">ES</a></li>
                        <li><a href="#" class="portuguese-lang">PT</a></li>
                        <li><a href="#" class="italian-lang">IT</a></li>
                        <li><a href="#" class="dutch-lang">NL</a></li>
                        <li><a href="#" class="polish-lang">PL</a></li>
                        <li><a href="#" class="russian-lang">RU</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <div class="bottom-footer">
        <p>© <span id="year"></span> SpudImg. All rights reserved.</p>
    </div>
