    <div class="top-footer">
        <div class="top-footer-left">
            <a href="/"><img src="/images/header/site-logo.png"></a>
        </div>
        <nav>
            <div>
                <p>Compressors</p>
                <a href="/tools/image-compressor/">Image Compressor</a>
                <a href="/tools/image-compressor-avif/">AVIF Compressor</a>
                <a href="/tools/image-compressor-jpeg/">JPEG Compressor</a>
                <a href="/tools/image-compressor-png/">PNG Compressor</a>
                <a href="/tools/image-compressor-tiff/">TIFF Compressor</a>
                <a href="/tools/image-compressor-webp/">WebP Compressor</a>
            </div>
            <a href="#">Image Converters</a>
            <a href="#">Image Resizer</a>
            <a href="/pages/blog-archive/">Blogs</a>
            <a href="/pages/contact/">Contact</a>
        </nav>
    </div>
    <div class="bottom-footer">
        <p>© <span id="year"></span> SpudImg. All rights reserved.</p>
    </div>
