
    <div>
        <a href="/"><img src="/images/header/site-logo.png" alt="Site Logo"/></a>
    </div>
    <nav class="header-nav">
        <ul id="compressor-dropdown">
            <li>
                <a href="/tools/compressors/image-compressor/" class="dropdown">Compressors</a>
                <ul>
                    <li><a href="/tools/compressors/image-compressor/">Image Compressor</a></li>
                    <li><a href="/tools/compressors/image-compressor-jpeg/">JPEG Compressor</a></li>
                    <li><a href="/tools/compressors/image-compressor-png/">PNG Compressor</a></li>
                    <li><a href="/tools/compressors/image-compressor-webp/">WebP Compressor</a></li>
                    <li><a href="/tools/compressors/image-compressor-avif/">AVIF Compressor</a></li>
                    <li><a href="/tools/compressors/image-compressor-tiff/">TIFF Compressor</a></li>
                </ul>
            </li>
        </ul>
        <a href="/tools/converters/image-converter/">Image Converter</a>
        <a href="/tools/resizers/image-resizer/">Image Resizer</a>
        <a href="/pages/blog-archive/">Blogs</a>
        <a href="/pages/contact/">Contact Us</a>
    </nav>
    <div class="mobile-nav-ham-con">
        <button class="mobile-nav-ham"><img src="/images/header/ham-menu-icon.png"></button>
    </div>
    <div class="mobile-nav-con">
        <ul>
            <li>
                <p class="dropdown">Compressors</p>
                <ul class="dropdown-con">
                    <li><a href="/tools/compressors/image-compressor/">Image Compressor</a></li>
                    <li><a href="/tools/compressors/image-compressor-jpeg/">JPEG Compressor</a></li>
                    <li><a href="/tools/compressors/image-compressor-png/">PNG Compressor</a></li>
                    <li><a href="/tools/compressors/image-compressor-webp/">WebP Compressor</a></li>
                    <li><a href="/tools/compressors/image-compressor-avif/">AVIF Compressor</a></li>
                    <li><a href="/tools/compressors/image-compressor-tiff/">TIFF Compressor</a></li>
                </ul>
            </li>
        </ul>
        <a href="/tools/converters/image-converter/">Image Converter</a>
        <a href="/tools/resizers/image-resizer/">Image Resizer</a>
        <a href="/pages/blog-archive/">Blogs</a>
        <a href="/pages/contact/">Contact Us</a>
    </div>