
    <div>
        <a href="/"><img src="/images/header/site-logo.png" alt="Site Logo"/></a>
    </div>
    <nav class="header-nav">
        <ul class="dropdown-con">
            <li>
                <!-- <a href="/tools/compressors/image-compressor/" class="dropdown">Compressors</a>
                <ul>
                    <li><a href="/tools/compressors/image-compressor/">Image Compressor</a></li>
                    <li><a href="/tools/compressors/image-compressor-jpeg/">JPEG Compressor</a></li>
                    <li><a href="/tools/compressors/image-compressor-png/">PNG Compressor</a></li>
                    <li><a href="/tools/compressors/image-compressor-webp/">WebP Compressor</a></li>
                    <li><a href="/tools/compressors/image-compressor-avif/">AVIF Compressor</a></li>
                    <li><a href="/tools/compressors/image-compressor-tiff/">TIFF Compressor</a></li>
                </ul> -->
            </li>
        </ul>
        <ul class="dropdown-con">
            <li>
                <!-- <a href="/tools/converters/image-converter/" class="dropdown">Converters</a>
                <ul>
                    <li><a href="/tools/converters/image-converter/">Image Converter</a></li>
                    <li><a href="/tools/converters/image-converter-jpeg/">JPEG Converter</a></li>
                    <li><a href="/tools/converters/image-converter-png/">PNG Converter</a></li>
                    <li><a href="/tools/converters/image-converter-webp/">WebP Converter</a></li>
                    <li><a href="/tools/converters/image-converter-avif/">AVIF Converter</a></li>
                    <li><a href="/tools/converters/image-converter-tiff/">TIFF Converter</a></li>
                </ul> -->
            </li>
        </ul>
        <a href="/tools/compressors/image-compressor/">Compressors</a>
        <a href="/tools/converters/image-converter/">Converters</a>
        <a href="/tools/resizers/image-resizer/">Image Resizer</a>
        <a href="/tools/rotator/image-rotater/">Image Rotator</a>
        <a href="/pages/blog-archive/">Blogs</a>
        <a href="/pages/contact/">Contact Us</a>
    </nav>
    <div class="mobile-nav-ham-con">
        <button class="mobile-nav-ham">
            <img class="ham" src="/images/header/ham-menu-icon.png">
            <img class="x" src="/images/header/white-x.png">
        </button>
    </div>
    <div class="mobile-nav-con">
        <ul>
            <li>
                <!-- <p class="dropdown">Compressors</p>
                <ul class="dropdown-con">
                    <li><a href="/tools/compressors/image-compressor/">Image Compressor</a></li>
                    <li><a href="/tools/compressors/image-compressor-jpeg/">JPEG Compressor</a></li>
                    <li><a href="/tools/compressors/image-compressor-png/">PNG Compressor</a></li>
                    <li><a href="/tools/compressors/image-compressor-webp/">WebP Compressor</a></li>
                    <li><a href="/tools/compressors/image-compressor-avif/">AVIF Compressor</a></li>
                    <li><a href="/tools/compressors/image-compressor-tiff/">TIFF Compressor</a></li>
                </ul> -->
            </li>
        </ul>
        <a href="/tools/compressors/image-compressor/">Image Compressor</a>
        <a href="/tools/converters/image-converter/">Image Converter</a>
        <a href="/tools/resizers/image-resizer/">Image Resizer</a>
        <a href="/tools/rotator/image-rotater/">Image Rotator</a>
        <a href="/pages/blog-archive/">Blogs</a>
        <a href="/pages/contact/">Contact Us</a>
    </div>